* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: serif;
}

/* font page css */
.firstpage {
  h1 {
    background-color: #070128;
    color: #ffff;
    height: 10vh;
    line-height:5rem;
  }

  .backimg {
    background-image: linear-gradient(rgba(225, 225, 225, 0.3),
        rgba(225, 225, 225, 0.3)),
      url("background2.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .butt{
    border-radius:10px;
    background-color: #d8e42e;
  }
  button {
    background: #d8e42e;
    color: black;
    font-weight: 600;
    font-size: 2.5rem;
    height: 70px;
    width: 30rem;
    border: 3px solid black;
    border-radius: 40px;
    margin-bottom: 4rem;
  }
}

.secondpage {
  .backimgcomp{
    background-image: url("compbackimg.jpg");
    width: 100;
    height:90vh;
  }
  h1 {
    background-color: #070128;
    color: #ffff;
    height:10vh;
    line-height: 5rem;
  }
  
  .choiceall {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    top:80px;
  }

  .img-option {
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .choice {
    height: 215px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img:hover {
    opacity: 0.3;
  }

  .choice:hover {
    cursor: poniter;
    border: 8px solid #070128;
  }

  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 11rem;
    font-size: 2rem;
  }

  #you,
  #comp {
    font-size: 3rem;
    color:white;
  }
   p:nth-child(2){
       color:white;
  }

  .anschosse {
    color: #dad1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
  }

  .msg-contaner {
    margin: 4rem 0;
    color:white;
  }

  #msg {
    font-size: 2rem;
    background-color: #c5ee0dc9;
    color: #1f1111;
    font-weight: 900;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
}